/* Góra */
.app-header,
#app-menu,
#plugcubed,
#history-button {
    background: rgba(0, 0, 0, 0.50);
}
.header-panel-button.selected {
    background-color: rgba(34, 34, 34, 0.5);
}

/* Dół */
#footer {
    background: rgba(0, 0, 0, 0.50);
}
#playlist-button {
    background: linear-gradient(to bottom,rgba(172, 118, 255, 0.7) 0,rgba(146, 90, 255, 0.7) 100%);
}

/* Przycisk od kolejki */
#dj-button {
    background: rgba(0, 0, 0, 0.75);
}
#dj-button .left {
    background: linear-gradient(to bottom,rgba(2, 106, 134, 0.5) 0,rgba(20, 17, 35, 0.5) 100%);
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: linear-gradient(to bottom,rgba(255, 61, 0, 0.5) 0,rgba(177, 29, 0, 0.5) 100%);
}
#dj-button.is-full .left, #dj-button.is-locked .left {
    background: rgba(255, 0, 0, 0.35);
}

/* chat + adminitracja */
#chat .welcome {
    color: #11e2f9;
}
.icon-chat-dj + span {
    color: #17fefe !important;
}
.icon-chat-bouncer + span {
    color: #eee203 !important;
}
.icon-chat-manager + span {
    color: #78cf0e !important;
}
.icon-chat-cohost + span, .icon-chat-host + span {
    color: #f54142 !important;
}

/* Poprawki i usprawnienia */
.social-menu .signup,
#app-menu .android-badge,
#app-menu .iphone-badge {
    display: none; /*ukrycie zbugowanych/brzydkich przycisków*/
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: #0C0E11;
}
::-webkit-scrollbar-thumb {
    background: #282c35; 
}
::-webkit-scrollbar-thumb:hover {
    background: #323742; 
}

/* ikony */
.icon {
    background-image: url('https://rawgit.com/Gameplayer8850/Safe-Gaming-Zone/master/img/icons2.png');
}

/*Marihuana*/
.id-28209493>.badge-box>i.bdg,
#chat-messages .fromID-28209493 .bdg {
    background-image: url("http://i144.photobucket.com/albums/r173/manuelito_05/th_marihuana.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28209493 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("http://i144.photobucket.com/albums/r173/manuelito_05/th_marihuana.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
