/* Nie przyznaje się do tego ~ Mikey */
#app-menu.in-room,
#footer,
#search,
#video-only-dj {
	 background: #6d5187;
}

.app-header #history-button {
	background: #6d5187;
}

.app-header #header-panel-bar .selected,
.app-header #history-button.selected {
	background: #6d5187;
}
#woot .top:after {
    content: "KOZAK";
    position: relative;
    display: inline-block;
    top: -6px;
}

#grab .top:after {
    content: "BIERE";
    position: relative;
    display: inline-block;
    top: -6px;
}
#meh .top:after {
    content: "BUUUUU";
    position: relative;
    display: inline-block;
    top: -6px;
	
